<h1>
  {{title}}
</h1>
<table>
  <thead>
  <tr>
    <th>Titre</th>
    <th>Auteur</th>
    <th>Prix</th>
    <th>Quantité</th>
    <th>Montant</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let row of rows" [class.big]="isBig(row)">
    <td>{{row.title}}</td>
    <td>{{row.author}}</td>
    <td class="right">{{row.price | currency :'EUR':true}}</td>
    <td class="right">
      <input min="0" [(ngModel)]="row.quantity" type="number">
    </td>
    <td class="right">{{row.amount() |currency :'EUR':true}}</td>
    <td><button (click)="remove(row)">Supprimer</button></td>
  </tr>
  </tbody>
  <tfoot>
  <tr>
    <td colspan="4">Total</td>
    <td class="right">{{total() |currency :'EUR':true}}</td>
    <td></td>
  </tr>
  </tfoot>
</table>

<h2>Ajout (<input type="checkbox" [(ngModel)]="manualMode">en mode manuel)</h2>
<form (ngSubmit)="manualAdd()" #formInfo="ngForm" *ngIf="manualMode">
  <label>Titre
    <input name="title" type="text" [(ngModel)]="manualFormData.title" required>
  </label>
  <label>Auteur
    <input name="author" type="text" [(ngModel)]="manualFormData.author" required>
  </label>
  <label>Prix
    <input name="price" step="0.01" type="number" [(ngModel)]="manualFormData.price" required>
  </label>
  <label>Quantité
    <input name="quantity" type="number" [(ngModel)]="manualFormData.quantity" required>
  </label>
  <input type="submit" value="Ajouter" [disabled]="formInfo.invalid">
</form>

<form (ngSubmit)="catalogAdd()" *ngIf="!manualMode">
  <label>Livre
    <select name="selected" [(ngModel)]="catalogFormData.selected">
      <option *ngFor="let book of books$ | async" [ngValue]="book">
        {{book.title}}
      </option>
    </select>
  </label>
  <label>Quantité
    <input name="quantity" type="number" [(ngModel)]="catalogFormData.quantity" required>
  </label>
  <input type="submit" value="Ajouter">
</form>
<!--<pre>{{books$ | async | json}}</pre>-->
